<!-- Navigation -->
    <nav style="font-size:20px;"class="navbar navbar-light bg-light static-top">
      <div class="container">
        <a style="font-size:25px;" class="navbar-brand" href="/">정보통신공학과</a>
        <% if user_signed_in? %>
        <a  href="#">내정보</a>
        <a href="/chat/index">심심이</a>
        <a  href="http://wku.ac.kr">원광대학교</a>
        <a href="https://www.inflearn.com/">프로그래밍 무료강좌</a>
        <a href="https://likelion.net/ko">멋쟁이 사자처럼 소개</a>
        <% else %>
        <% end %>
        <a style="color:#FFFFFF" class="btn btn-primary" href="/users/sign_in">로그인</a>
      </div>
    </nav>
  <div style=" text-align:center">
<h2>회원가입</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label "닉네임" %><br/>
    <%= f.text_field :nickname,:required => true %><br/>
</div>

  <div class="form-group" >
   <%= f.label :이름 %><br/>
   <%= f.text_field :name, autofocus: true%>
  </div>
  
  <div class="form-group">
    <%= f.label :나이 %>
    <%= f.number_field :age, autofocus: true %>
</div>
<%= f.label :성별%><br>
<div class="btn-group" data="buttons">
    <p style="margin-bottom:2;"></p>
    <br><label class="radio_button ">남자
       <%= f.radio_button :gender, '남자', checked: true %>
    </label>
    <label class="radio_button "> 여자
       <%= f.radio_button :gender, '여자', checked: true %>
    </label>

</div>
  <br><br>
  <div class="field">
    <br><%= f.label :이메일 %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :비밀번호 %>
    <% if @minimum_password_length %>
    <em>(최소 <%= @minimum_password_length %> 자)</em><br />
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :비밀번호_확인 %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "가입하기" %>
  </div>
<% end %>
<%= render "users/shared/links"%>
 </div>
